<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<nav>

    <div class="container">
        <nav class="navbar rounded-bottom navi-bar">
            <div class="container-fluid">
        <footer>
        <!-- this is footer -->
      <h1>  &copy; 2020 lesno.net </h1>


<!--        <script type="text/javascript"-->
<!--                src="webjars/bootstrap/4.0.0-1/js/bootstrap.min.js"></script>-->

        </footer>
<!--        <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.min.js}"></script>-->
    </div>
        </nav>
    </div>

</body>


</body>
</html>