<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Редактиране на менюто</title>
    <th:block th:include="fragments/header"/>
</head>

<body>
<th:block th:include="fragments/nav"/>
<div class="container">

    <div class="menu-tab">

        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">


                </div>
            </div>


            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">

                </div>
            </div>
        </div>




    <!-- /.container -->
    <th:block th:include="fragments/footer"/>

    <script>

        const unique = (value, index, self) => {
            return self.indexOf(value) === index
        };

        let menu = [];
        let uniqueCategories = [];

        function getAll() {
            const url = window.location.host;
            let temp = [];


            $.get("http://" + url + "/api/all", function (data, status) {
                let result = data;
                tmpArr = result;
                for (let i = 0; i < result.length; i++) {
                    menu.push(result[i]);
                    printCard(result[i],result[i].categoryName);
                }


            });

        }


        function getMenuGroups() {
            let selected = document.querySelector("#card_view");
            let temp = [];
            // let valSelected = selected.options[selected.selectedIndex].value;
            const url = window.location.host;


            $.get("http://" + url + "/api/all/", function (data, status) {
                let result = data;

                for (let i = 0; i < result.length; i++) {

                    temp.push(result[i].categoryName);

                }
                uniqueCategories = temp.filter(unique);
                nav_draw();
                getAll();
            });
        }


        let tmpArr;

        function printCard(result,name) {

            for (let i = 0; i < result.details.length; i++) {



                let idToUse = result.details[i].detailName.split(" ").join("");
                let picName = result.details[i].id+ "," +result.details[i].detailName;

                let card = '<div class="card " id="' + result.categoryName.split(" ").join("_") + '" style="width: 12rem;">\n' +
                    '  <img class="card-img-top" src="'+(result.details[i].picture == null  ? '/img/tuna.jpg' : result.details[i].picture ) +'" alt="Card image cap">\n' +
                    '  <div class="card-body">\n' +
                    '    <h5 class="card-title">' + result.details[i].detailName + '</h5>\n' +

                    (result.details[i].price && result.details[i].smallPrice ?
                        '<p class="card-text">Цена голяма/малка: ' + result.details[0].price + ' / ' + result.details[i].smallPrice + ' лв.' + '</p>\n' :
                        '<p class="card-text">Цена: ' + result.details[i].price + ' лв.' + '</p>\n')
                    +
                    // '    <p class="card-text">Цена: ' + result.details[0].price + '</p>\n' +
                    // '    <p class="card-text">Цена: ' + result.details[0].allergens.join(",") + '</p>\n' +
                    '  </div>\n' +
                        '<b>'+
                    '  <div class="card-body">\n' +

                    '    <a href="#" class="card-link"  class="btn btn-secondary" data-toggle="modal"  data-target="#pop_'+idToUse+'"  data-placement="left" title="Редактирай всички данни">Редактирай</a>   \n' +


                        '<!-- Modal -->\n' +
                    '<div class="modal fade" id="pop_'+idToUse+'" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">\n' +
                    '  <div class="modal-dialog modal-dialog-centered" role="document">\n' +
                    '    <div class="modal-content">\n' +
                    '      <div class="modal-header">\n' +
                    '        <h5 class="modal-title" id="'+idToUse+'LongTitle">Промяна на продукт от категория '+name+'</h5>\n' +
                    '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                    '          <span aria-hidden="true">&times;</span>\n' +
                    '        </button>\n' +
                    '      </div>\n' +


                    '      <div class="modal-body">\n' +
                    '        <p>Категория: <input type="text" name="categoryName" value="'+result.categoryName +'"/></p>\n' +
                    '        <p>Име на Продукта: <input type="text" name="productName" value="'+result.details[i].detailName +'"/></p>\n' +
                    '        <p>Под Категория: <input type="text" name="groupName" value="'+result.productName +'"/></p>\n' +
                    '        <p>Грамаж: <input type="text" name="grams" size="5" value="'+result.details[i].grams +'"/></p>\n' +

                    '        <p>Цена: <input type="number" name="price" value="'+result.details[i].price+'" size="5" step="0.01"/></p>\n' +
                    '        <p>Грамаж малка: <input type="text" name="smallGrams" value="'+result.details[i].smallGrams+'"  size="5" /></p>\n' +
                    '        <p>Цена малка: <input type="number" name="smallPrice" value="'+result.details[i].smallPrice+'" size="5" step="0.01"/></p>\n' +
                    '        <p>Алергени : <input type="text" name="allergens" value="'+result.allergens.join().allergens +'""/></p>' +
                    '      </div>\n' +



                    '      <div class="modal-footer">\n' +
                    // '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\n' +



                    '        <label for="up_'+ idToUse +'" class="btn btn-primary" >Избери Снимка</label>\n' +
                    '        <input id="up_'+idToUse+'" class="btn btn-primary" type="file" name="file" style="display: none" class="file-input" required />\n' +
                    '        <button  class="btn btn-primary " onclick=" uploadFile(document.querySelector(\'#up_'+idToUse+'\').files[0],\''+picName+'\')" >Добави</button>\n' +

                            // todo add response on xrf status
                    '       <div class="upload-response">\n' +
                    '                        <div id="singleFileUploadError"></div>\n' +
                    '                        <div id="singleFileUploadSuccess"></div>\n' +
                    '                    </div>' +


                    '    </div>\n' +
                    '      </div>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '</div>'+


                    '  </div>\n' +
                    '</div>';


                document.getElementById("card_"+ name.split(' ').join('_')).innerHTML += card;
            }
        }


        function nav_draw() {

            let hed = '';
            let cont = '';

            for (let i = 0; i < uniqueCategories.length; i++) {
                let temp = uniqueCategories[i];


                hed+=
                ' <a class="nav-link" id="v-pills-'+temp.split(' ').join('_')+'-tab" data-toggle="pill" href="#v-pills-'+temp.split(' ').join('_')+'" role="tab"\n' +
                '                       aria-controls="v-pills-'+temp.split(' ').join('_')+'" aria-selected="false">'+temp+'</a>';

                cont+=
                    '   <div class="tab-pane fade" id="v-pills-'+temp.split(' ').join('_')+'" role="tabpanel"\n' +
                    '                         aria-labelledby="v-pills-'+temp.split(' ').join('_')+'-tab">\n' +
                    ' <div id="card_'+temp.split(' ').join('_')+'" class="row">\n' +

                    '                        </div>' +
                    '                    </div>'

            }
            document.querySelector("#v-pills-tab").innerHTML=hed;
            document.querySelector("#v-pills-tabContent").innerHTML = cont;
            }


        function updateProduct(result) {

            console.log(result)
            $.post("http://" + url + "/api/update", function (data, status) {
                let result = data;




            });
        }




        getMenuGroups();

    </script>

        <script >
            function uploadFile(file,resp) {


                var formData = new FormData();
                formData.append("file", file);
                formData.append("product", resp);
                console.log(formData)

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/uploadFile");

                xhr.onload = function() {
                    console.log(xhr.responseText);
                    var response = JSON.parse(xhr.responseText);
                    if(xhr.status == 200) {
                        console.log('yes');
                        // singleFileUploadError.style.display = "none";
                        // singleFileUploadSuccess.innerHTML = "<p>File Uploaded Successfully.</p><p>DownloadUrl : <a href='" + response.fileDownloadUri + "' target='_blank'>" + response.fileDownloadUri + "</a></p>";
                        // singleFileUploadSuccess.style.display = "block";
                    } else {
                        console.log("no");
                        // singleFileUploadSuccess.style.display = "none";
                        // singleFileUploadError.innerHTML = (response && response.message) || "Some Error Occurred";
                    }
                };

                xhr.send(formData);
            }


            // singleUploadForm.addEventListener('submit', function(event){
            //     var files = singleFileUploadInput.files;
            //     if(files.length === 0) {
            //         singleFileUploadError.innerHTML = "Please select a file";
            //         singleFileUploadError.style.display = "block";
            //     }
            //     uploadSingleFile(files[0]);
            //     event.preventDefault();
            // }, true);
        </script>


</div>
</body>
</html>